<!doctype html>
<html lang="en">

<head>
  <title>Contact</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/style/style.css" rel="stylesheet" />
  <link href="/style/contact.css" rel="stylesheet" />
</head>

{% include "nav.html" %}

<body>
  <div class="body-wrapper">
    <div class="page-title">Contact Info</div>
    <p>I can be reached in primarily two locations:
    <ul>
      <li><a href="mailto:price@orion-technologies.io">By
          Email</a></li>
      <li><a href="https://github.com/treatybreaker/blog">At the Github repository for this website</a></li>
    </ul>
    <p>
      I should take no more than 48 hours to get back to you. If you haven't received a response in 48 hours, please
      send or update a comment with a ping to me. I probably earmarked it and forgot to come back to it or didn't see
      it.
    </p>
  </div>
</body>

{% include "footer.html" %}

</html>