@import "style.css";

.page-title {
  color: var(--carpYellow);
}

.body-wrapper {
  display: flex;
  direction: row;
  margin-top: auto;
  margin-bottom: auto;
  background: linear-gradient(
    -45deg,
    hsl(204, 7.81%, 25.1%) 0%,
    hsla(204, 7.81%, 25.1%, 0.99) 8.1%,
    hsla(203.08, 10.24%, 24.9%, 0.963) 15.5%,
    hsla(205.71, 11.11%, 24.71%, 0.921) 22.5%,
    hsla(203.33, 14.52%, 24.31%, 0.867) 29%,
    hsla(201.82, 18.03%, 23.92%, 0.803) 35.3%,
    hsla(204, 20.66%, 23.73%, 0.732) 41.2%,
    hsla(202.76, 24.37%, 23.33%, 0.658) 47.1%,
    hsla(203.64, 28.21%, 22.94%, 0.582) 52.9%,
    hsla(202.7, 32.17%, 22.55%, 0.508) 58.8%,
    hsla(202.5, 35.71%, 21.96%, 0.437) 64.7%,
    hsla(202.33, 38.74%, 21.76%, 0.373) 71%,
    hsla(202.67, 41.28%, 21.37%, 0.319) 77.5%,
    hsla(202.5, 44.44%, 21.18%, 0.277) 84.5%,
    hsla(202.04, 45.79%, 20.98%, 0.25) 91.9%,
    hsla(202.04, 45.79%, 20.98%, 0.24) 100%
  );

  padding: 15px;
  border-radius: 15px;
}