<!doctype html>
<html lang="en">

<head>
  <title>Credits</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/style/style.css" rel="stylesheet" />
</head>

{% include "nav.html" %}

<body>
  <div class="body-wrapper">
    <h3>Some People I owe an awful lot to</h3>
    <p>In no particular order, and perhaps not exhaustive:</p>
    <dl>
      <dt>Matthew Thomas</dt>
      <dd>A connoisseur of C# and the Dotnet ecosystem. A mentor and friend. He showed me the deep, dark, hell-hole of
        Powershell and Azure Pipelines (which are basically reskinned and nerfed Github workflows). When I worked with
        him, he held nothing but kindness for everyone and was always open to new ideas, no matter how out there they
        were. His presence gave me the necessary backing to entirely overhaul our noodly pipelines, may they rest
        unscrambled. Oh, also, Windows user 🤮.</dd>
      <dt>Kirk Kelly</dt>
      <dd>Kirk was to me a friend first, manager last. He supported me without fail in all situations. He cared, and I
        assume he still does, for those he worked with as firstmost the person they were, coworker last. No matter the
        scenario he always had sympathy and was a font of knowledge I perhaps didn't take advantage of enough in
        hindsight. Kirk, among all folks I've met, is one of those I hold in high regard.</dd>
      <dt>Josh Beck</dt>
      <dd>Although I have not spoken to him in many years, he taught me the foundation of all computer knowledge I
        possess and imparted to me my curiosity for computing. Under him I learned networking (though I never
        did get my CCNA, perhaps I should get around to that), my fundamentals in Linux, cybersecurity, server
        management, and the unfun hell of tearing apart old Dell Optiplex computers and many other things. Without him I
        imagine programming and all other things in computing I care for would not be my main focus today. He nurtured
        that passion and put up with all sorts of hijinks when I was learning from him. I have not spoken to him in some
        years, but if in some way, or somehow, he ever comes across this I hope he knows I hold him perhaps the highest
        among all.</dd>
      <dt>Jacob Sanders</dt>
      <dd>If not for him I think I would be even more "lost in the sauce" as it were. While he did not "teach" me in the
        traditional sense, he showed me true enterprise applications, pipelines, containerization, better ways to
        program, and absolutely could hammer the <i>shit</i> out of you with an exe sword in Mordhau. Because of him I
        luckily didn't spend two years only screwing around on video games (though I did a <i>lot</i> of that), and
        instead did some productive and worthwhile things. Had I not met him I don't think I would've built up the
        ability to learn new things as quickly as I can, nor have the interest to do so. <q>I'm done playing, let's go
          do some programmy.</q> ~ Jacob Sanders. Also, Mac user 🤮.</dd>
    </dl>
  </div>
</body>

{% include "footer.html" %}

</html>